@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
body {
  font-family: "Noto-Sans", sans-serif;
  margin: 0;
}
body * {
  box-sizing: border-box;
}
body .main-login {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-login .left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .main-login .left-login h1 {
  color: #77ffc0;
  font-size: 3vw;
}
body .main-login .left-login .left-login-image {
  width: 35vw;
}
body .main-login .right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-login .right-login .card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902);
}
body .main-login .right-login .card-login h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}
body .main-login .right-login .card-login a {
  color: rgba(240, 255, 255, 0.8705882353);
}
body .main-login .right-login .card-login .textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
  width: 100%;
}
body .main-login .right-login .card-login .textfield input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: rgba(240, 255, 255, 0.8705882353);
  font-size: 12pt;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902);
  outline: none;
  box-sizing: border-box;
}
body .main-login .right-login .card-login .textfield label {
  color: rgba(240, 255, 255, 0.8705882353);
  margin-bottom: 10px;
}
body .main-login .right-login .card-login .textfield input::-moz-placeholder {
  color: rgba(240, 255, 255, 0.5803921569);
  border-radius: 10px;
}
body .main-login .right-login .card-login .textfield input:-ms-input-placeholder {
  color: rgba(240, 255, 255, 0.5803921569);
  border-radius: 10px;
}
body .main-login .right-login .card-login .textfield input::placeholder {
  color: rgba(240, 255, 255, 0.5803921569);
  border-radius: 10px;
}
body .main-login .right-login .combobox {
  background: #514869;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  font-size: 12pt;
  color: rgba(240, 255, 255, 0.5803921569);
}
body .main-login .right-login .combobox option {
  color: rgba(240, 255, 255, 0.5803921569);
}
body .main-login .right-login .combobox2 {
  background: #514869;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  font-size: 12pt;
  color: rgba(240, 255, 255, 0.5803921569);
  text-transform: capitalize;
}
body .main-login .right-login .combobox2 input {
  text-transform: uppercase;
}
body .main-login .right-login .combobox2 option {
  color: rgba(240, 255, 255, 0.5803921569);
  text-transform: uppercase;
}
body .main-login .right-login .btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgba(0, 255, 128, 0.3215686275);
}
@media only screen and (max-width: 900px) {
  body .card-login {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  body .main-login {
    flex-direction: column;
  }
  body .main-login .left-login {
    width: 100%;
    height: auto;
  }
  body .main-login .left-login h1 {
    display: none;
  }
  body .main-login .left-login .left-login-image {
    width: 50vw;
  }
  body .main-login .right-login {
    width: 100%;
    height: auto;
  }
  body .main-login .right-login .card-login {
    width: 90%;
  }
}/*# sourceMappingURL=index.css.map */